body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-image: url('./images/bg-pattern.png');
  font-size: 20px;
}
.countriesList {
  cursor: pointer;
}

.countryList__item:hover {
  background-color: #bbb7bb;
}
